<!-- <script type="text/javascript">window.location.href="http://backdoorbench.com";</script> -->
{% extends "base.html" %}
{% block content %}
<div class=" header-container jumbotron">
    <div class="container mt-4 p-5">
        <h1>BackdoorBench</h1>
        <p>A Comprehensive Benchmark for Evaluating Backdoor Attacks and Defenses</p>
        <a class="btn-custom a_btn" href="/start" role="button">Get Started</a>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                <br />
                Backdoor learning is an emerging topic of studying the adversarial
                vulnerability of
                machine learning models during the training stage. Many backdoor attack
                and defense
                methods have been developed in recent ML and Security
                conferences/journals. It is
                important to build a benchmark to review the current progress and
                facilitate future
                research in backdoor learning.
                <br />
                <br />
                BackdoorBench aims to provide an easy implementation of both
                backdoor attack and
                backdoor defense methods to facilitate future research, as well as a <b><a href="lead_overview">comprehensive evaluation</a></b> of
                existing attack and
                defense methods.
                <br /> <br />
                This benchmark will be continuously updated to track the lastest
                advances of backddor
                learning, including the
                implementations of more backddor methods, as well as their evaluations
                in the
                leaderboard. You are welcome to contribute
                your backdoor methods to BackdoorBench.
            </p>
        </div>

    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4 col-md-4">
            <h2 class="text-center"><a href=""><i class="fa fa-table"></i></a></h2>
            <h4 class="text-center"><a href="">Unified Evaluation</a></h4>
            <p><strong>BackdoorBench defines a realistic threat model where attackers and defenders can compete with each other under unified settings, which facilitates fair comparisons of various
                    methods.</strong>

            </p>
        </div>
        <div class="col-sm-4 col-md-4">
            <h2 class="text-center"><a href=""><i class="fa fa-cogs"></i></a></h2>
            <h4 class="text-center"><a href="">Modular Framework</a></h4>
            <p>
                <strong>BackdoorBench provides a coding framework with a modular design, which facilitates the implementation of all attacks, defenses, and related evaluation processes.</strong>
            </p>
        </div>
        <div class="col-sm-4 col-md-4">
            <h2 class="text-center"><a href=""><i class="fa fa-bar-chart"></i></a></h2>
            <h4 class="text-center"><a href="">High Reproducibility</a></h4>
            <p>
                <strong>BackdoorBench guarantees high reproducibility of all results on the leaderboards, by providing all necessary terms including implementation of methods, hyper-parameters,
                    trained models,
                    easy-to-use scripts,
                    etc.</strong>
            </p>
        </div>
        <!-- <div class="col-sm-3 col-md-3">
            <h2 class="text-center"><a href=""><i class="fa fa-bar-chart"></i></a></h2>
            <h4 class="text-center"><a href="">xxxx</a></h4>
            <p>
            </p>
        </div> -->
    </div>

    <hr>

    <div class="row">
        <div class="col-12">
            <h2>Our papers</h2>
            <p>Here are the related papers.</p>
        </div>

        <div class="col-12 col-lg-12">
            <div class="card-simple">

                <h4>
                    <a href="https://openreview.net/forum?id=31_U7n18gM7" style="color: #000;">BackdoorBench: A Comprehensive Benchmark
                        of Backdoor Learning</a>
                </h4>
                <div class="article-metadata">
                    <div>
                        <span><a href="https://sites.google.com/site/baoyuanwu2015/home">Baoyuan Wu</a></span>,
                        <span><a href="">Hongrui Chen</a></span>,
                        <span><a href="">Mingda Zhang</a></span>,
                        <span><a href="">Zihao Zhu</a></span>,
                        <span><a href="">Shaokui Wei</a></span>,
                        <span><a href="">Danni Yuan</a></span>,
                        <span><a href="">Chao Shen</a></span>,
                    </div>
                    <span class="pub-publication"><em>NeurIPS 2022 Track Datasets and Benchmarks</em></span>
                </div>
                <div class="btn-links">
                    <a class="btn btn-outline-custom my-1 mr-1" href="https://openreview.net/pdf?id=31_U7n18gM7" rel="noopener">PDF</a>
                    <button type="button" class="btn btn-outline-custom my-1 mr-1" data-toggle="modal" data-target="#cite_backdoorbench">
                        Cite
                    </button>
                    <a class="btn btn-outline-custom my-1 mr-1" href="https://github.com/SCLBD/BackdoorBench" rel="noopener">Code</a>

                    <div class="modal fade" id="cite_backdoorbench" tabindex="-1" role="dialog" aria-labelledby="cite_backdoorbench" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">BibTeX Record</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <pre>
@inproceedings{ wu2022backdoorbench, 
    title={BackdoorBench: A Comprehensive Benchmark of Backdoor Learning}, 
    author={Baoyuan Wu and Hongrui Chen and Mingda Zhang and Zihao Zhu and Shaokui Wei and Danni Yuan and Chao Shen},
    booktitle={Thirty-sixth Conference on Neural Information Processing Systems Datasets and Benchmarks Track}, 
    year={2022}}
                                                </pre>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-custom" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </br>
            <div class="card-simple">

                <h4>
                    <a href="https://openreview.net/forum?id=AsH-Tx2U0Ug" class="black">Effective Backdoor Defense by Exploiting Sensitivity of Poisoned Samples</a>
                </h4>
                <div class="article-metadata">
                    <div>
                        <span><a href="">Weixin Chen</a></span>,
                        <span><a href="https://sites.google.com/site/baoyuanwu2015/home">Baoyuan Wu</a></span>,
                        <span><a href="">Haoqian Wang</a></span>,

                    </div>
                    <span class="pub-publication"><em>NeurIPS 2022</em></span>
                </div>
                <div class="btn-links">
                    <a class="btn btn-outline-custom my-1 mr-1" href="https://openreview.net/pdf?id=AsH-Tx2U0Ug" rel="noopener">PDF</a>
                    <button type="button" class="btn btn-outline-custom my-1 mr-1" data-toggle="modal" data-target="#cite_effective">
                        Cite
                    </button>
                    <a class="btn btn-outline-custom my-1 mr-1" href="https://github.com/SCLBD/Effective_backdoor_defense" rel="noopener">Code</a>

                    <div class="modal fade" id="cite_effective" tabindex="-1" role="dialog" aria-labelledby="cite_effective" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">BibTex Record</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <pre>
@inproceedings{chen2022effective, 
    title={Effective Backdoor Defense by Exploiting Sensitivity of Poisoned Samples}, 
    author={Weixin Chen and Baoyuan Wu and Haoqian Wang}, 
    booktitle={Advances in Neural Information Processing Systems}, 
    year={2022}}
                                                </pre>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-custom" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </br>
            <div class="card-simple">

                <h4>
                    <a href="https://openreview.net/forum?id=TySnJ-0RdKI" style="color: #000;">Backdoor Defense via Decoupling the Training Process</a>
                </h4>
                <div class="article-metadata">
                    <div>
                        <span><a href="">Kunzhe Huang</a></span>,
                        <span><a href="">Yiming Li</a></span>,
                        <span><a href="https://sites.google.com/site/baoyuanwu2015/home">Baoyuan Wu</a></span>,
                        <span><a href="">Zhan Qin</a></span>,
                        <span><a href="">Kui Ren</a></span>,

                    </div>
                    <span class="pub-publication"><em>ICLR 2022</em></span>
                </div>
                <div class="btn-links">
                    <a class="btn btn-outline-custom my-1 mr-1" href="https://openreview.net/pdf?id=TySnJ-0RdKI" rel="noopener">PDF</a>
                    <button type="button" class="btn btn-outline-custom my-1 mr-1" data-toggle="modal" data-target="#cite_dbd">
                        Cite
                    </button>
                    <a class="btn btn-outline-custom my-1 mr-1" href="https://github.com/SCLBD/DBD" rel="noopener">Code</a>

                    <div class="modal fade" id="cite_dbd" tabindex="-1" role="dialog" aria-labelledby="cite_dbd" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">BibTex Record</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <pre>
@inproceedings{ huang2022backdoor, 
    title={Backdoor Defense via Decoupling the Training Process},
    author={Kunzhe Huang and Yiming Li and Baoyuan Wu and Zhan Qin and Kui Ren}, 
    booktitle={International Conference on Learning Representations}, 
    year={2022}}
                                                </pre>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-custom" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </br>
            <div class="card-simple">

                <h4>
                    <a href="https://openaccess.thecvf.com/content/ICCV2021/html/Li_Invisible_Backdoor_Attack_With_Sample-Specific_Triggers_ICCV_2021_paper.html" style="color: #000;">Invisible
                        Backdoor Attack With Sample-Specific Triggers</a>
                </h4>
                <div class="article-metadata">
                    <div>
                        <span><a href="">YueZun Li</a></span>,
                        <span><a href="">Yiming Li</a></span>,
                        <span><a href="https://sites.google.com/site/baoyuanwu2015/home">Baoyuan Wu</a></span>,
                        <span><a href="">Longkang Li</a></span>,
                        <span><a href="">Ran He</a></span>,
                        <span><a href="">Siwei Lyu</a></span>
                    </div>
                    <span class="pub-publication"><em>ICCV 2021</em></span>
                </div>
                <div class="btn-links">
                    <a class="btn btn-outline-custom my-1 mr-1"
                        href="https://openaccess.thecvf.com/content/ICCV2021/papers/Li_Invisible_Backdoor_Attack_With_Sample-Specific_Triggers_ICCV_2021_paper.pdf" rel="noopener">PDF</a>
                    <button type="button" class="btn btn-outline-custom my-1 mr-1" data-toggle="modal" data-target="#cite_ssba">
                        Cite
                    </button>
                    <a class="btn btn-outline-custom my-1 mr-1" href="https://github.com/SCLBD/ISSBA" rel="noopener">Code</a>
                    <div class="modal fade" id="cite_ssba" tabindex="-1" role="dialog" aria-labelledby="cite_ssba" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">BibTex Record</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <pre>
@InProceedings{Li_2021_ICCV, 
    author = {Li, Yuezun and Li, Yiming and Wu, Baoyuan and Li, Longkang and He, Ran and Lyu, Siwei}, 
    title = {Invisible Backdoor Attack With Sample-Specific Triggers},
    booktitle = {Proceedings of the IEEE/CVF International Conference on Computer Vision (ICCV)}, 
    month = {October}, 
    year = {2021}, 
    pages = {16463-16472} }
                                            </pre>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-custom" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
